clrzmq.userprefs

/build
AssemblyInfo.cs
obj
bin
!/bin

# Standard VS.NET and ReSharper Foo
*/obj
*/bin
*.csproj.user
_ReSharper*
/build
/packages
/publish
nuget.exe
lib/**/libzmq.dll
*.snk
*ReSharper.*
*.resharper.user
*.resharper
*.suo
*.cache
* Thumbs.db
_ReSharper.*
*.ReSharper.user
*.Cache
*.cache
*.DotSettings.user
