<?xml version="1.0"?>
<configuration>
  
  <facilities>
    <facility id="zmqfacility" type="Castle.Facilities.ZMQ.ZeroMQFacility, Castle.Facilities.ZMQ">
      <endpoints>
        <add assembly="FacilityPerfTest" address="localhost:5060"/>
      </endpoints>
    </facility>
  </facilities>

</configuration>
