<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<facilities>
		<facility id="zmqfacility" type="Castle.Facilities.ZMQ.ZeroMQFacility, Castle.Facilities.ZMQ">
			<endpoints>
				<add assembly="Server" address="127.0.0.1:40500" />
			</endpoints>
		</facility>
	</facilities>
</configuration>