<?xml version="1.0"?>
<configuration>
  
  <facilities>
    <facility id="zmqfacility" type="Castle.Facilities.ZMQ.ZeroMQFacility, Castle.Facilities.ZMQ">
      <endpoints>
        <add assembly="FacilityTests" address="localhost:50608"/>
      </endpoints>
    </facility>
  </facilities>

</configuration>
