<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
	</configSections>

	<castle>
		<facilities>
			<facility id="logging" type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" loggingApi="Log4net" configFile="logging.config" />
			<facility id="zmqfacility" type="Castle.Facilities.ZMQ.ZeroMQFacility, Castle.Facilities.ZMQ" listen="*:40500" workers="40" />
		</facilities>
	</castle>
</configuration>
